aiohttp==3.7.4
alpaca-trade-api==0.49.0
alpha-vantage==2.2.0
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
multidict==4.7.6
multitasking==0.0.9
numpy==1.19.1
pandas==1.1.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
six==1.15.0
typing-extensions==3.7.4.2
urllib3==1.26.5
websocket-client==0.57.0
websockets==9.1
yarl==1.5.1
yfinance==0.1.54
